html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(249, 236, 217);
}
h1 {
    color: whitesmoke; 
    font: size 40px;
    text-shadow: 2px 2px 0px #000000
}
h2 {
    color: coral;
}
h3 {
    background-color: #7469B6;
    padding: 100px 50px;
    border-radius: 8%;
}
#Encabezados {
    color: darkgoldenrod;
    font-size: 30px;
}
.tamaño-letra {
    color: chocolate;
    font-size: 20px;
}
.fondo {
    background-color: rgb(0, 0, 0);
}
.colores {
    color: tomato;
}
.coloresHexa {
    color: #ffd1d1
}
.Galeria {
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    width: 600px;
    height: 430px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.flex-container{
    display: flex;
    flex-direction: wrap-reverse;
    background-color: coral;
    padding: 10px;
}
.flex-container .orden {
    order: -1; 
}
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}
p {
    color: black;
    font-size: 20px;
}
img {
    max-width: 50%;
    height: auto;
}
figcaption {
    max-width: 50px;
    height: auto;
}
video {
    width: 50%;
}